:root {
  --primary-bg-color: #000f13; /*  #151524 #202032 */
  --secondary-bg-color: #eeecec;
  --tertiary-bg-color: #f1093f; /* #f51b4e */
  --primary-font-color: #050508;
  --secondary-font-color: #fff;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 6.4rem; /* Navbar height */
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  color: var(--primary-font-color);
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

input,
textarea {
  font-family: inherit;
}
::-webkit-input-placeholder {
  font-family: inherit;
}
:-moz-placeholder {
  font-family: inherit;
}
::-moz-placeholder {
  font-family: inherit;
}
:-ms-input-placeholder {
  font-family: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

/* Nav Bar */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  z-index: 99;
}

.solid {
  background-color: var(--primary-bg-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
}

.logo img {
  height: 50px;
  width: 50px;
}

.nav-links {
  display: flex;
  font-size: 1.8rem;
  /* height: 50%; */
}

.nav-item {
  margin: 0 1.5em;
  padding: 0.25em 0;
  color: var(--secondary-font-color);
  border-bottom: 0.25em solid transparent;
  /* align-content: center; */
}

.active-nav-item,
.nav-item:hover {
  border-bottom: 0.25em solid var(--tertiary-bg-color);
}

.contact-link {
  margin-right: 0;
}

.close-hamburger {
  display: none;
  margin-right: 0.5em;
  color: var(--primary-bg-color);
}

.open-hamburger {
  display: none;
  color: var(--secondary-font-color);
}

.navbar i {
  font-size: 3rem;
}

@media screen and (max-width: 576px) {
  .nav-links {
    transform: translateX(70vw);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 70vw;
    background-color: var(--secondary-bg-color);
    transition: all 0.5s;
  }

  .hamburger-active {
    transform: translateX(0);
  }

  .nav-item {
    color: var(--primary-bg-color);
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid var(--primary-bg-color);
  }

  .home-link {
    border-top: 1px solid var(--primary-bg-color);
  }

  .contact-link {
    border-bottom: none;
  }

  .close-hamburger {
    height: 6.4rem;
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .open-hamburger {
    display: block;
  }
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  height: 100vh;
  /*  background-image: url("https://images.unsplash.com/photo-1537819191377-d3305ffddce4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1416&q=80"); */
  /*  background-image: url("https://images.unsplash.com/photo-1531213203257-16afb0eac95e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1458&q=80"); */
  /* background-image: url("https://images.unsplash.com/photo-1573767291321-c0af2eaf5266?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1524&q=80"); */
  background-image: url("./assets/banner-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--secondary-bg-color);
  text-align: center;
}

.banner-btn {
  font-weight: 700;
  color: var(--secondary-font-color);
  background: transparent;
  border: 1px solid var(--secondary-font-color);
  padding: 1em 2em;
  margin: 1em;
}

.banner-btn:hover,
.banner-btn:focus {
  background-color: var(--tertiary-bg-color);
  border: 1px solid var(--tertiary-bg-color);
}

/* Portfolio */

.portfolio-section {
  background-color: var(--secondary-bg-color);
  padding-bottom: 6em;
  min-height: 450px;
}

.portfolio-navbar {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.portfolio-nav-item {
  font-size: 2rem;
  margin: 0.75em 1em;
  padding-bottom: 0.25em;
  cursor: pointer;
}

.active-portfolio-category,
.portfolio-nav-item:hover {
  border-bottom: 0.25em solid var(--tertiary-bg-color);
}

.portfolio-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 2em;
}

.portfolio-item {
  border: 1px solid lightgray;
  background-color: var(--secondary-font-color);
}

.portfolio-item img {
  width: 100%;
}

.portfolio-item-img-container {
  position: relative;
  opacity: 1;
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.portfolio-item-img-container:hover {
  cursor: pointer;
}

.portfolio-item-img-container img {
  opacity: 1;
  transition: opacity 0.5s;
}

.portfolio-item-img-container:hover img {
  opacity: 0.7;
}

.portfolio-item-img-container i {
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  color: var(--primary-bg-color);
  font-size: 5rem;
}

.portfolio-item-img-container:hover i {
  opacity: 1;
}

.project-info {
  padding: 0.5em;
}

.project-name {
  text-align: center;
  margin: 0;
}

.project-github-link {
  font-weight: 700;
}

.project-github-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .portfolio-section {
    min-height: 400px;
  }
  .portfolio-items {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .portfolio-nav-item {
    margin: 0.75em 0.5em;
    font-size: 1.6rem;
  }

  .portfolio-items {
    grid-template-columns: 1fr;
    padding: 1em;
  }
}

/* CV */

.cv-section {
  background-color: lightgray;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 6em;
}

.cv-section h1 {
  text-align: center;
  margin: 2em 0;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -1.5rem;
}

.skills > * {
  margin: 1.5rem;
}

.skills-card {
  width: 20%;
  border-radius: 1rem;
  min-width: 250px;
}

.skills-card ul {
  background-color: var(--secondary-font-color);
  border-radius: 5px;
  border-radius: 1rem;
}

.skills-card li {
  padding: 0.5em 1em;
  border-bottom: 1px solid lightgray;
}

.skills-card li:first-child {
  border-radius: 1rem 1rem 0 0;
}

.skills-card li:last-child {
  border-radius: 0 0 1rem 1rem;
}

.skills-card-header {
  background-color: var(--tertiary-bg-color);
  color: var(--secondary-font-color);
  text-align: center;
}

.download-cv-btn {
  font-weight: 700;
  color: var(--secondary-font-color);
  background: var(--tertiary-bg-color);
  border: 1px solid var(--tertiary-bg-color);
  padding: 1em 2em;
  margin: auto;
  margin-top: 4em;
  display: block;
}

.download-cv-btn:hover,
.download-cv-btn:focus {
  color: var(--tertiary-bg-color);
  background-color: transparent;
  border: 1px solid var(--tertiary-bg-color);
}

@media screen and (max-width: 992px) {
  .skills {
    justify-content: space-around;
  }
}

@media screen and (max-width: 576px) {
  .skills {
    justify-content: center;
  }
}

/* Contact */

.contact-section {
  background-color: #252934;
  overflow: auto;
  padding-bottom: 6em;
  color: var(--secondary-font-color);
}

.contact-section h1 {
  text-align: center;
  margin: 2em 0;
}

.contact-body {
  display: flex;
  justify-content: space-around;
}

#contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 280px;
}

.contact-form-input {
  padding: 0.6em;
  margin-bottom: 0.2em;
  background-color: #1e242c;
  color: var(--secondary-font-color);
  border: none;
  font-size: 1.7rem;
}

.contact-form-textarea {
  padding: 0.6em;
  background-color: #1e242c;
  color: var(--secondary-font-color);
  border: none;
  font-size: 1.7rem;
  resize: vertical;
}

.submit-contact-form {
  width: 40%;
  font-weight: 700;
  color: var(--secondary-font-color);
  background: transparent;
  border: 1px solid var(--secondary-font-color);
  padding: 1em;
  margin: auto;
  margin-top: 2em;
}

.submit-contact-form:hover,
.submit-contact-form:focus {
  background-color: var(--tertiary-bg-color);
  border: 1px solid var(--tertiary-bg-color);
}

.contact-icons-header {
  margin-top: 0;
  text-align: center;
}

.contact-icons {
  display: flex;
}

.contact-icon-holder {
  background-color: #1e242c;
  margin: 0.5em;
  padding: 0.75em 0.25em;
}

.contact-icon-holder:hover i {
  color: var(--tertiary-bg-color);
}

.contact-icons i {
  color: var(--secondary-font-color);
  font-size: 3rem;
  margin: 0 0.5em;
}

@media screen and (max-width: 576px) {
  .contact-body {
    align-items: center;
    flex-direction: column;
  }

  .contact-icons-header {
    margin-top: 2em;
  }
}

/* Email modal */

.email-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
}

.email-modal-content {
  color: var(--primary-font-color);
  background-color: #fefefe;
  margin: auto;
  padding: 1em 2em;
  border: 1px solid #888;
  max-width: 70%;
}

.email-modal-header {
  text-align: right;
}

.close-email-modal {
  color: #9c9c9c;
  font-size: 3rem;
  font-weight: bold;
}

.close-email-modal:hover,
.close-email-modal:focus {
  color: var(--tertiary-bg-color);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .email-modal-content {
    padding: 0.5em 1em;
  }
}

/* Loader */

.loader-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
}

.loader {
  border: 2rem solid var(--secondary-bg-color);
  border-top: 2rem solid var(--tertiary-bg-color);
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 576px) {
  .loader {
    border: 1rem solid var(--secondary-bg-color);
    border-top: 1rem solid var(--tertiary-bg-color);
  }
}

/* Footer */

footer {
  background-color: var(--primary-bg-color);
  color: var(--secondary-font-color);
  padding-bottom: 2em;
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-to-top {
  background-color: var(--tertiary-bg-color);
  display: inline-block;
  margin: auto;
  padding: 0.5em;
  position: relative;
  bottom: 1em;
}

.link-to-top i {
  font-size: 4rem;
}

.copyright {
  font-size: 1.4rem;
}
